doctype html
html
      head
          title= title
          link(rel='stylesheet', href='/stylesheets/style.css')
      body
          block content
          script(type='text/javascript', src='/javascripts/three.js')
          script(type='text/javascript', src='/javascripts/TextGeometry.js')
          script(type='text/javascript', src='/javascripts/FontUtils.js')
          script(type='text/javascript', src='/fonts/helvetiker_regular.typeface.js')
          script(type='text/javascript', src='/javascripts/main.js')
